# Hexo Configuration
## Docs: https://hexo.io/docs/configuration.html
## Source: https://github.com/hexojs/hexo/

# Site
title: Kilzo的小屋  #标题
subtitle: ''
description: 测试中…………  #简介或者格言
keywords:
author: Kilzo   #作者
language: zh-CN   #主题语言
timezone: Asia/Shanghai

# URL
## Set your site url here. For example, if you use GitHub Page, set url as 'https://username.github.io/project'
url: http://example.com
#permalink: :year/:month/:day/:title/
#permalink_defaults:
pretty_urls:
  trailing_index: false # Set to false to remove trailing 'index.html' from permalinks
  trailing_html: false # Set to false to remove trailing '.html' from permalinks

# Directory
source_dir: source
public_dir: public
tag_dir: tags
archive_dir: archives
category_dir: categories
code_dir: downloads/code
i18n_dir: :lang
skip_render:

# Writing
new_post_name: :title.md # File name of new posts
default_layout: post
titlecase: false # Transform title into titlecase
external_link:
  enable: true # Open external links in new tab
  field: site # Apply to the whole site
  exclude: ''
filename_case: 0
render_drafts: false
post_asset_folder: true
relative_link: false
future: true
highlight:
  enable: true
  line_number: true
  auto_detect: false
  tab_replace: ''
  wrap: true
  hljs: false
prismjs:
  enable: false
  preprocess: true
  line_number: true
  tab_replace: ''

# Home page setting
# path: Root path for your blogs index page. (default = '')
# per_page: Posts displayed per page. (0 = disable pagination)
# order_by: Posts order. (Order by date descending by default)
index_generator:
  path: ''
  per_page: 10
  order_by: -date

# Category & Tag
default_category: uncategorized
category_map:
tag_map:

# Metadata elements
## https://developer.mozilla.org/en-US/docs/Web/HTML/Element/meta
meta_generator: true

# Date / Time format
## Hexo uses Moment.js to parse and display date
## You can customize the date format as defined in
## http://momentjs.com/docs/#/displaying/format/
date_format: YYYY-MM-DD
time_format: HH:mm:ss
## updated_option supports 'mtime', 'date', 'empty'
updated_option: 'mtime'

# Pagination
## Set per_page to 0 to disable pagination
per_page: 10
pagination_dir: page

# Include / Exclude file(s)
## include:/exclude: options only apply to the 'source/' folder
include:
exclude:
ignore:

# Extensions
## Plugins: https://hexo.io/plugins/
## Themes: https://hexo.io/themes/
theme: yun

# Deployment
## Docs: https://hexo.io/docs/one-command-deployment
deploy:
  type: git
  repo: https://github.com/Kilzo/Kilzo.github.io.git
  branch: master # 默认使用 master 分支
  message: Update Hexo Static Content # 你可以自定义此次部署更新的说明

live2d:
    enable: true
    scriptFrom: local
    model: 
        use: live2d-widget-model-hijiki #模型选择
display: 
    position: right  #模型位置
    width: 150       #模型宽度
    height: 300      #模型高度
    mobile: 
        show: false      #是否在手机端显示

# 关闭 highlight
#highlight:
#    enable: false
# 启用 prism
#prismjs:
#    enable: true
#    preprocess: true
#    line_number: false
#    tab_replace: ""

# URL
## If your site is put in a subdirectory, set url as 'https://yoursite.com/child' and root as '/child/'
#url: https://www.yunyoujun.cn
image: 
    post_asset_folder: true #我只设置了这个，没设置下边两行也好使。
    filter_image:
      helog: true

#播放器
#aplayer:
#  cdn: https://cdn.jsdelivr.net/npm/aplayer@latest/dist/APlayer.min.js
#  style_cdn: https://cdn.jsdelivr.net/npm/aplayer@latest/dist/APlayer.min.css
#  meting: true
#  meting_cdn: https://cdn.jsdelivr.net/npm/meting@1/dist/Meting.min.js
aplayer:
  #全局播放
  global: false
  meting: true
  # https://github.com/metowolf/MetingJS/tree/v1.2#option
  widget:
    enable: false
    autoplay: false
    # theme: "#2980b9"
    loop: all
    order: list
    preload: auto
    volume: 0.7
    mutex: true
    lrcType: 0
    listFolded: false
    listMaxHeight: 340px
    audio:
      - name: 星宿计时
        artist: 杉田朗/洛天依
        url: https://cdn.jsdelivr.net/gh/YunYouJun/cdn/audio/star-timer.mp3
        cover: https://cdn.jsdelivr.net/gh/YunYouJun/cdn/img/bg/stars-timing-0.jpg
    meting:
      enable: true
      id: 308168565
      server: netease
      type: playlist

#数学公式
katex:
  copy_tex: true
  global: false

#博客备份
backup:
  type: git
  theme: yun
  message: "增加功能中"
  repository:
    github: git@github.com:Kilzo/Kilzo.github.io.git,bakup
    #coding: git@git.dev.tencent.com:Kilzo/Kilzo.git,hexo